.fila {
    display: flex;
    width: 100%;
}
.actividades {
    overflow: scroll;
    border: 1px solid black;
    width: inherit;
    margin: 10px;
    height: 100px;
}
.actividades li {
    list-style: none;
}
.ganado {
    color: green;
}
.perdido {
    color: red;
}